main{ 
    min-height: 70vh;
}

.row{
    grid-column: 3/6;
    grid-row: 2;
}


.lista{ 
     font-size: 12px;
     margin: 45px;
     width: 480px;
     text-align: left;
     border-collapse: collapse;
}

.header-lista{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: var(--rojo);
    border-top: 4px solid var(--rojo);    
    border-bottom: 1px solid #fff; 
    color: var(--gris-claro); 
    text-align: center;
    }

.celda-lista{
    padding: 8px;
    background: var(--gris-claro);
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

.header-lista:hover td{
    background: rgb(231, 164, 159);
    color: #339; 
}

/* .cta-button{
    text-decoration: none;
    font-size: var(--nav-button-font-size);
    border: 2px solid;
    border-radius: 5px;
    border-color: var(--rojo);
    background-color: var(--rojo);
    color: var(--secondary-font-color);
    padding: 5px 10px;
} */
