main{ 
    min-height: 70vh;
}

.lista{ 
    grid-column: 2/12;
    grid-row: 2;
    font-size: var(--tiny-font-size);
    text-align: left;
    border-collapse: collapse;
}

.header-lista{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: var(--rojo);
    border-top: 4px solid var(--rojo);    
    border-bottom: 1px solid #fff; 
    color: var(--gris-claro); 
    text-align: center;
    }

.celda-lista{
    padding: 8px;
    background: var(--gris-claro);
    border-bottom: 1px solid white;
    color: var(--gris-oscuro);
    border-top: 1px solid transparent;
    padding: 1rem;
}
.input-content{
    grid-column: 2/12;
}

.input-sucursales{
    display: block;
    width: 100%;
    font-size: var(--h4-font-size);;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--rojo);
    border-radius: 5px;
}

.text-big{
    height: 5rem
}

.cta-section{
    grid-column: 2/12;
    margin: 0 auto;
}

#cta-admin-sucursales{
    grid-column: 2/12;
    margin: 1rem 0 1rem auto;
}

