@import "./styleGuide.css";

.footer{
    background-color: var(--footer-background-color);
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(var(--footer-column-count-web), 1fr);
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    /* align-items: center; */
}

.footer_columnas{
    grid-column: 1/-1;
    padding:0px 0px 0px 10px;
    margin: 20px 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

.footer-columna{
    width: 20%;
    height: auto;
    overflow: hidden;
    padding: 10px 20px;
    text-align: center;
}

.footer-column-titulo{
    text-align: center;
    margin-top: 5px;
}

.footer-column-content {
    padding: 10px 20px;
    font-size: var(--tiny-font-size);
    text-align: justify;
    vertical-align: middle;
}

.integrantes{
    /* font-size: var(--tiny-font-size);
    list-style-type: none; */
    padding: 10px 20px;
    text-align: center;
}

.documentacion{
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
}

.qr{
    display: block;
    height:150px;
}

.social-icons{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cv{
    font-size: 20px;
    margin:auto;
    text-align: center;
    width: 45%;
    padding: 10px;
}

.nombre-cv{
    font-size: var(--tiny-font-size);
    text-align: center;
}

#copyright{
    grid-column: 1/-1;
    text-align: left;
    padding:10px 0px 10px 10px;
}



@media only screen and (min-width: 401px) and (max-width: 670px){
    .grid-footer{
        grid-template-columns: repeat(var(--footer-column-count-tablet), 1fr);
    }   
    #copyright{
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .grid-footer{
        grid-template-columns: repeat(var(--footer-column-count-phone), 1fr);
        padding: 20px;
    } 
    #copyright{
        text-align: center;
    }
}