@import "./style_guide.css";

*{
    border: var(--test-border)
}

.footer_grid{
    padding:0px 0px 0px 10px;
    display: grid;
    grid-template-columns: repeat(var(--footer-column-count),1fr); 
    gap: 15px;
}

.footer_column{
    /* height: 100%; */
}

.footer-column-content {
    font-size: 10px;
    text-align: justify;
}

#copyright{
    text-align: left;
    padding:0px 0px 0px 10px;
    /* padding: 10px; */
}