@import "./style_guide.css";

*{
    border: var(--test-border)
}

/* Estilos del header */

nav {
    display: block ;
}

nav div{
    height:15vh;
    background-color: blueviolet;
    display: inline-block;
}
#logo {
    height: 15vh;
    padding:5px;
    caret: logo;
}  

.flex-menu-wrapper {
    display: inline-flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    background-color: blue;
    area: menu;
}

.flex-menu-item {
    display: inline-block;
    margin-right: 2vw;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
}

.menu-button-first {
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid var(--main-font-color);
    border-radius: 13px;
    background-color: var( --main-font-color);
    color: var(--secondary-font-color);
    padding: 5px 10px;
}

.menu-button {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
}

.menu {
    display: none;
}

/* ----------------------------------------------- */

@media only screen and (max-width: 600px) {
    nav {
        display: block;
    }
    .menu {
        display: block;
        float: right;
        height: 9vh;
    }
    ul {
        display: grid;
    }

    input[type="checkbox"] {
        /* background-color: blue; */
        width: 6vh;
        margin-right: 5vw;
    }

    nav li {
        display: block;
        text-align: center;
        margin-bottom: 2vh;
    }

    ul:last-child {
        padding-bottom: 2vh;
    }  
    
    
    .menu:checked ~ ul{
            background-color: blue;
            display: grid;
            /* position: absolute; */
            z-index: 1;
    }        
  }
