@import "./styleGuide.css";

*{
    border: var(--test-border)
}

/* Estilos del header */
.header{
    height:100px;
    background-color: var(--secondary-background);
}

.img-logo{
    width:100px;
    height: auto;
    grid-column: 1/2;
    padding: 10px
}

.img-logo > a {
    /* background-color: blue; */
    height: 10px;
}

.img{
    width: 95%;
    max-width: 400px;

}

#logo{
    width: 100%;
    height: 100%
}
.menu{
    grid-column: 5/13;
}

.button{
    display: none;
}

.flex-menu-wrapper {
    display: flex;
    width: auto;
    /* margin-left: auto;
    margin-right: auto; */
    list-style: none;
    /* align-items: center; */
    justify-content: flex-end;

}

/* .flex-menu-item{
    column-span: 2;
} */

.flex-menu-item {
    display: inline-block;
    margin-right: 2vw;
    margin-left: auto;
    margin-right: auto;
    /* background-color: brown; */
}

.menu-button-first, .menu-button-first:hover {
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid var(--main-font-color);
    border-radius: 5px;
    background-color: var( --main-font-color);
    color: var(--secondary-font-color);
    padding: 5px 10px;
}

.menu-button, .menu-button:hover {
    text-decoration: none;
    font-size: 1rem;
    color: var(--main-font-color);
    padding: 5px 10px;
}

.burguer {
    width: 4em;
    height: 4em;
    /* border: 1px solid green; */
}

/* .menu button {
    background-color: var(--secondary-background);
    float: right;
} */


/* Puntos de corte sitio responsive */
@media only screen and (max-width: 730px){
/* Menu hamburguesa */
.button {
        cursor: pointer;
        grid-column: 10/13;
        display: block;
        background-color: var(--secondary-background);
    }
.menu {
        display: none;
    }
.menu.activo {
        display: flex;
        position: absolute;
        padding: 30px;
        top: 100px;
        right: 0;
        background-color: var(--gris-claro);
        opacity: 0.9;
        z-index: 3;
        
    }
.flex-menu-wrapper {
        flex-direction: column;
        align-items: start;
    }

.flex-menu-item {
        font-size: 1.6rem;
        margin-bottom: 2vh;        
    }
}
