@import "./styleGuide.css";

*{
    border: var(--test-border)
}

/* Estilos del header */
.header{
    height:100px;
    background-color: var(--header-background-color);
}

.img-logo{
    width:100px;
    height: auto;
    grid-column: 1/2;
    padding: 10px
}

.img-logo > a {
    height: 10px;
}

.img{
    width: 95%;
    max-width: 400px;
}

#logo{
    width: 100%;
    height: 100%
}
.menu{
    grid-column: 5/13;
}

.button-burguer{
    display: none;
}

.flex-menu-wrapper {
    display: flex;
    width: auto;
    list-style: none;
    justify-content: flex-end;

}

.flex-menu-item {
    display: inline-block;
    margin-right: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.menu-button-first, .menu-button-first:hover {
    text-decoration: none;
    font-size: var(--nav-button-font-size);
    border: 2px solid var(--selection-background-color);
    border-radius: 5px;
    background-color: var(--selection-background-color);
    color: var(--secondary-font-color);
    padding: 5px 10px;
}

.menu-button, .menu-button:hover {
    text-decoration: none;
    font-size: var(--nav-button-font-size);
    color: var(--main-font-color);
    padding: 5px 10px;
}

.burguer {
    width: 4em;
    height: 4em;
}


/* Puntos de corte sitio responsive */
@media only screen and (max-width: 730px){
/* Menu hamburguesa */
.button-burguer {
        cursor: pointer;
        grid-column: 10/13;
        display: block;
        background-color: var(--header-background-color);
    }
.menu {
        display: none;
    }
.menu.activo {
        display: flex;
        position: absolute;
        padding: 30px;
        padding-bottom: 15px;
        top: 100px;
        right: 0;
        background-color: var(--main-background-color);
        opacity: 0.9;
        z-index: 3;
    }
.flex-menu-wrapper {
        flex-direction: column;
        align-items: start;
    }

.flex-menu-item {
        font-size: var(--nav-button-font-size);;
        margin-bottom: 3vh; 
        
    }
}
