@import "./style_guide.css";

body{
   height: 100vh; 
}

header{
    height: 20%;
    background-color: var(--secondary-background);
}

main{
    height:70%;
}

footer{
    height: auto;
    background-color: var(--footer-background);
}





