main{ 
    min-height: 70vh;
}

.texto-menu{
    grid-column: 1/-1;
    text-align: center;
}

.texto-menu p{
    margin: 10px 0; 
    /* text-align: justify; */
    padding: 20px;
}

.grid-menu {
    grid-column: 1/-1;
    border: 1px solid; 
    display: grid;
    grid-template-columns: repeat(var(--cards-per-row-web),1fr);
    grid-auto-rows: minmax(200px,200px);
    gap: 5px;
    padding: 5px;
    min-height: 70vh;
}

.menu-card{
    border: 1px solid; 
    height: 200px;
    overflow:hidden;
    background-color: var(--main-background-color);
    perspective: 1000px;
}

.menu-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* compatibilidad con firefox */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

/* Position the front and back side */
.menu-card-front, .menu-card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
} 

.titulo-menu-card{
    margin-bottom: 10px;
}

.img-menu-card{
    width: 100%;
    margin: auto;
    padding:3px
}

.menu-card-info-text{
    width:100%;
    height: 83%;
    padding: 0 10px 3px 10px;
    overflow: scroll;
    font-size: var(--tiny-font-size);
}

  @media only screen and (min-width: 401px) and (max-width: 670px){
    .grid-menu{
        grid-template-columns: repeat(var(--cards-per-row-tablet), 1fr);

}
}

@media only screen and (max-width: 400px) {
    .grid-menu{
        grid-template-columns: repeat(var(--cards-per-row-phone), 1fr);
    } 
}
