*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 400;
    color: var(--main-font-color);
}

:root{
    /* Colores */
    --rojo:rgba(230, 76, 64, 1);
    --amarillo:rgba(248, 199, 64, 1);
    --gris-claro:rgba(243, 243, 243, 1);
    --gris-oscuro:rgba(63, 63, 63, 1);

    /* Aplicacion de colores */
    --header-background-color: var(--amarillo);
    --main-background-color: var(--gris-claro);
    --secondary-background-color: var(--amarillo);
    --footer-background-color: var(--rojo);
    --color-shadow-color: var(--gris-oscuro);
    --selection-background-color: var(--gris-oscuro);

    
    /* Grid Principal */
    --main-column-count:12;

    /* Grids Menu*/
    --cards-per-row-web:4;
    --cards-per-row-tablet: 2;
    --cards-per-row-phone: 1;
    --rows-per-page-web:3;

     /* Grids Form*/
     --form-column-count-web: 2;
     --form-column-count-tablet: 2;
     --form-column-count-phone: 1;

    /* Grids Footer */
    --footer-column-count-web: 4;
    --footer-column-count-tablet: 2;
    --footer-column-count-phone: 1;

    /* Grid Header */
    --header-column-count: 6;

    /* Fonts 
       todos los estilos !important por Bootstrap */
    --main-font-color: var(--gris-oscuro)!important;
    --secondary-font-color: var(--gris-claro)!important;
    --nav-web-font-size: 2em!important;
    --nav-hamburguer-font-size: 2em!important;
    --h1-font-size: 4em!important;
    --h2-font-size: 3em!important;
    --h3-font-size: 1.5em!important;
    --h4-font-size: 1.2em!important;
    --h5-font-size: 0.87em!important;
    --p-font-size: 1em!important;
    --nav-button-font-size: 1em!important;
    --footer-column-text-font-size: 0.62em!important;
    --small-font-size: 0.83em!important;
    --tiny-font-size: 0.75em!important;
    --teeny-font-size: 0.62em!important;

    /* border para debugging de maqueta*/
    --test-border:none;
    /* --test-border:1px solid rgb(0,0,0); */
}

h1{
   font-size: var(--h1-font-size);
   text-align: center;
}

h2{
    font-size: var(--h2-font-size);
    text-align: center;
 }

 h3{
    font-size: var(--h3-font-size);
    text-align: center;
 }

 h4{
    font-size: var(--h4-font-size);
    text-align: center;
 }

 h5{
    font-size: var(--h5-font-size);
    text-align: center;
 }

 p{
    font-size: var(--p-font-size);
    text-align: justify;
    line-height: 1;
 }
 
