main{ 
    min-height: 70vh;
}

.sucursales{
    height: auto;
    padding-bottom: 60px;
}

.texto-sucursales{
    grid-column: 1/-1;
    text-align: center;
}

.texto-sucursales p{
    margin: 10px 0;
    /* font-size: 0.8em; */
    text-align: justify;
    padding: 20px;
}

.selector-sucursales {
    margin:5px;
}

.boton-sucursales{
    display: block;
    padding: 10px 25px;
}

.lista-sucursales {
    display: inline-block;
    
}

.mapa-sucursal{
    display: inline-block;

}

.boton-sucursales{
    display: grid;
}

.frame-mapa{
    display:none;
    height:100%;
    width:100%
}

#mapa-sucursal1  {
    display: inline-block;
    /* height: 50%; */
}

#sucursal1:focus ~ .mapa-sucursal ~ .grid> #mapa-sucursal1  {
    display: inline-block;
}

#sucursal2:focus ~ .mapa-sucursal > #mapa-sucursal2  {
    display: inline-block;
}

.mapa-sucursal{
    grid-column: 2/10;
    text-align: center;
}

.datos-sucursal {
    grid-column: 10/13;
    border: 1px solid;
    /* text-align: center; */
}

@media only screen and (min-width: 401px) and (max-width: 670px){
    .grid-menu{
        grid-template-columns: repeat(2, 1fr);

}
}

@media only screen and (max-width: 400px) {
    .selector-sucursales{
        grid-column: 1/-1;
    } 
    .boton-sucursales {
        display: inline-block;
        padding: 10px 15px;
    }
    .mapa-sucursal {
        grid-column: 1/-1;
    }
    .datos-sucursal{
        grid-column: 1/-1;
    }
}