main{ 
    min-height: 70vh;
}

.sucursales{
    height: auto;
    padding-bottom: 60px;  
}

.texto-sucursales{
    grid-column: 1/-1;
    text-align: center;
}

.texto-sucursales p{
    margin: 10px 0;
    /* font-size: 0.8em; */
    text-align: justify;
    padding: 20px;
}

.selector-sucursales {
    margin:5px 0px 0px 20px;
}

.boton-sucursales{
    display: block;
    padding: 10px 25px;
    display: grid;
    width: 133px;
    /* text-align: left; */
    /* background-color: var(--gris-claro); */
}

.mapa-sucursal{
    display: inline-block;
    height:50vh;
}

/* .boton-sucursales{

} */

.frame-mapa{
    display:none;
    height:100%;
    width:100%
}

#mapa-sucursal1  {
    display: inline-block;
    /* height: 50%; */
}

/* #sucursal1:focus ~ .mapa-sucursal ~ .grid> #mapa-sucursal1  {
    display: inline-block;
}

#sucursal2:focus ~ .mapa-sucursal > #mapa-sucursal2  {
    display: inline-block;
} */

.mapa-sucursal{
    grid-column: 6/12;
    text-align: center;
}

.datos-sucursal {
    grid-column: 3/6;
    grid-row: 2;
    /* border: 1px solid; */
    /* text-align: center; */
}

@media only screen and (max-width: 544px){
    .selector-sucursales{
        grid-column: 2/12;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    } 

    .boton-sucursales {
        display: inline-block;
        padding: 10px 15px;

    }
    .mapa-sucursal {
        grid-column: 2/12;
        margin-top: 10px;
    }
    .datos-sucursal{
        grid-column: 2/12;
        margin: 0 auto;
        grid-row: 4;
    }
}


@media only screen and (min-width: 545px) and (max-width: 700px) {
    .selector-sucursales{
        grid-column: 1/-1;
        margin: 0 auto;
    } 
    .boton-sucursales {
        display: inline-block;
        padding: 10px 15px;
    }
    .mapa-sucursal {
        grid-column: 2/12;
        margin-top: 10px;
    }
    .datos-sucursal{
        grid-column: 2/12;
        margin: 0 auto;
        grid-row: 4
    }
}