{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main> 
        <section class="carrousel">
            <div class="grid">
                <!-- <img src="./assets/img/promo1.png" alt="" class="img-carousel" id="img-carrousel1"> -->
                <!-- <img src="./assets/img/logo.png" alt="" class="img-carousel" id="img-carrousel2"> -->
            </div>
        </section>
        <section class="services">
            <div  class="grid grid-services">
                <div class="service-items">
                    <section class="service-item">
                        <i class="fa-solid fa-circle-dollar-to-slot"></i>
                        <h4 class="titulo-service">20% OFF de regalo</h4>
                        <p>Creando un usuario en nuestra plataforma tenés acceso a un 20% de descuento en tu primera compra. ¡No te olvides en suscribirte a nuestras ofertas!</p>
                    </section>
                    <section class="service-item">
                        <i class="fa-solid fa-recycle"></i>
                        <h4 class="titulo-service">Reciclamos</h4>
                        <p>Todos los materiales usados para envasar y empaquetar nuestros productos son reciclados. Estamos a favor del cuidado ambiental. ¡Debemos cuidar el planeta donde vivimos!</p>
                    </section>
                    <section class="service-item">
                        <i class="fa-solid fa-kitchen-set"></i>
                        <h4 class="titulo-service">La mejor calidad</h4>
                        <p>Nuestra cocina está realizada con la mejor selección de ingredientes y especias encontrados en el mercado, tanto nacional como internacional. Sumándose en la preparación las manos de los mejores chef cualificados para nuestra versatilidad de productos.</p>
                    </section>  
                </div>
            </div>
        </section>
        <section class="nosotros">
            <div class="grid">
                <div class="texto-nosotros">
                    <h3>Sobre nuestra cocina</h3>
                    <p class="parrafo">Nuestra cocina es una combinación de delicias internacionales. Encontrarás un menú lleno de platos excepcionales, exóticos y llamativos para degustar. La variedad es tan grande que siempre habrá algo nuevo para degustar y conocer una cultura solamente desde sus sabores.</p>
                    <div class="opciones">
                        <div class="opcion">Sin TACC</div>
                        <div class="opcion">Vegetariana</div>
                        <div class="opcion">Vegana</div>
                        <div class="opcion">Keto</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
