{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static './assets/css/menu.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main> 
        <section class="menu-restaurant"  id="appMenu">
            <div class="grid">
                <section class="texto-menu">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam incidunt magnam porro veniam provident illo eaque nemo dolores aspernatur natus, illum consequatur modi esse labore nam similique aperiam veritatis. Voluptatibus aspernatur quibusdam optio fuga a, soluta, veritatis, nam labore ducimus quo iusto. Hic, blanditiis tenetur? Quod commodi delectus aliquam ut!</p>
                </section>

                <!-- $event.target.value 
                Vue event handlers have a special $event property that describes the event,
                and $event.target.value contains the value of the newly selected option. -->

                <select name="categories" id="categories-menu" @change="handlerRecetasMenu($event.target.value)"> 
                    <option  
                        v-for="categorie in categories" 
                        :value="categorie.strCategory">   
                        ||categorie.strCategory||
                    </option>
                </select>
                <section class="grid-menu">
                    <div v-for="(meal,index) in mealList" 
                        class="menu-card animation-flip">
                        <div class="menu-card-content animation-flip-content">
                            <div class="menu-card-front">
                                <h5 class="titulo-menu-card">||meal.strMeal||</h5>
                                <img :src="meal.strMealThumb" alt="" class="img-menu-card">
                            </div>
                            <div class="menu-card-info animation-flip-info">
                                <h5 class="titulo-menu-card">||meal.strMeal||</h5>
                                <h6 id="ingredientes">Ingredientes</h6>
                                <ul class="ingredientes-receta">
                                    <li  v-for="ingrediente in ingredientes[index]" v-if="ingrediente !== ''">||ingrediente||</li>
                                </ul>
                                <h6 id="preparacion">Preparación</h6>                                   
                                <p class="menu-card-info-text">||preparacion[index]||</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
{% endblock %}

{% block script %}
    <script type="module" src="{% static './assets/vue/recetasMenu.js' %}"></script>
{% endblock %}
