{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/sucursales.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main> 
        <section class="sucursales" id="appSucursales">
        <div class="grid">
            <div class="texto-sucursales">
                    <p id="descripcion-sucursal">
                        ||detalleSucursal.descripcion||
                    </p>
            </div>
            <select class="selector-sucursales" name="selector-sucursales" id="selector-sucursales"  @change="getDetalleSucursal($event.target.value)"> 
                <option  
                    v-for="sucursal in listaSucursales" 
                    v-show="sucursal.isActive"
                    :value="sucursal.id">   
                    ||sucursal.nombre|| 
                </option>
            </select>
            <div class="mapa-sucursal" v-html="detalleSucursal.mapa"></div>             
            <div class="datos-sucursal">
                <hr id="separador"></hr>
                <h3 id="nombre-sucursal">||detalleSucursal.nombre||</h3>
                <p id="info-sucursal">||detalleSucursal.domicilio||<br>||detalleSucursal.telefono||</p>
            </div>
            {% if request.user.groups.all %}
            {% for group in request.user.groups.all %}
              {% if group.name == 'Encargado' or group.name == 'SiteAdmin' %}
                 <a  class="cta-button" href="{% url 'listar_sucursales' %}">Administrar sucursales</a> 
              {% endif %}
            {% endfor %}
          {% endif %}  
        </div>       
        </section>             
    </main>
{% endblock %}

{% block script %}
    <script type="module" src="{% static './assets/vue/sucursales.js' %}"></script>
{% endblock %}