{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/listaSuc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
    {% if form %}
        <form action="" method="POST" >
            {% csrf_token %}
            <div class="grid">
                <div class="input-content">
                    <input type="text" class="input-sucursales" autocomplete="false" placeholder="Nombre*" required name="nombre">
                    <input type="text" class="input-sucursales" autocomplete="false" placeholder="Domicilio*" required name="domicilio">
                    <input type="text" class="input-sucursales" autocomplete="false" placeholder="Teléfono*" required name="telefono">
                    <textarea class="input-sucursales" autocomplete="false" placeholder="Mapa*" required name="mapa" wrap="soft" rows=5>{{ mapa }}</textarea>
                    <div class="cta-section">
                        <textarea class="input-sucursales" autocomplete="false" placeholder="Descripción" required name="descripcion" wrap="soft" rows=5>{{ descripcion }}</textarea>      
                        <input type="checkbox" class="input-sucursales" id="checkIsActive" name="isActive" autocomplete="false" placeholder="isActive" checked="true" style="display: none">
                    </div>    
                </div>
                <div class="cta-section">
                    <a class="cta-button" id="cta-cancelar" href="{% url 'listar_sucursales' %}">Cancelar</a>
                    <button class="cta-button" id="cta-submit" type="submit">Guardar</button>    
                </div>
            </div>
        </form>
    {% endif %}
    </main>
{% endblock %}