{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/listaSuc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
    {% if form %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <a class="cta-button" href="{% url 'listar_sucursales' %}">Cancelar</a>
            <button class="cta-button" type="submit">Submit</button>
        </form>
    {% endif %}
    </main>
{% endblock %}