{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/listaSuc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        {% if request.user.groups.all %}
        {% for group in request.user.groups.all %}
         {% if group.name == 'Encargado' or group.name == 'SiteAdmin' %}
        {% if form %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid">
            <p class="input-content input-prompt">Seguro querés borrar la sucursal "{{ object }}" ?</p>
            <div class="cta-section">
                <a class="cta-button" href="{% url 'listar_sucursales' %}">Cancelar</a>
                <button class="cta-button" type="submit">Confirmar</button>
            </div>  
        </div>
    </form>    
    {% endif %}
    {% else %}
    <div>
        <h3>No tienes permisos para acceder a esta página</h3>
        <!-- <img class="access-denied-img" src="{% static './assets/img/access-denied.jpg' %}" alt="access denied"> -->
    </div>
   {% endif %}
   {% endfor %}
   {% else %}
   <div>
        <h3>No tienes permisos para acceder a esta página</h3>
        <!-- <img class="access-denied-img" src="{% static './assets/img/access-denied.jpg' %}" alt="access denied"> -->
  </div> 
 {% endif %}      
    </main>
{% endblock %}