{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/listaSuc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
    {% if form %}
    <div class="grid">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Seguro querés borrar la sucursal "{{ object }}" ?</p>
            <div class="cta-section">
            <a class="cta-button" href="{% url 'listar_sucursales' %}">Cancelar</a>
            <button class="cta-button" type="submit">Confirmar</button>
            </div>  
        </form>
    </div>    
    {% endif %}
    </main>
{% endblock %}