{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/sucursales.css' %}" rel="stylesheet">
    <link href="{% static './assets/css/listaSuc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>         
       {% if request.user.groups.all %}
        {% for group in request.user.groups.all %}
         {% if group.name == 'Encargado' or group.name == 'SiteAdmin' %}
           

        <section class="sucursales">
            <div class="grid">
                <div class="texto-sucursales">
                        <p id="descripcion-sucursal">
                            {{ object.descripcion }}
                        </p>
                </div>
                <div class="mapa-sucursal">
                    <iframe class="frame-mapa" id="mapa-sucursal" src="{{ object.mapa }}"></iframe>
                </div>             
                <div class="datos-sucursal">
                    <hr id="separador"></hr>
                    <h3 id="nombre-sucursal">{{ object.nombre }}</h3>
                    <p id="info-sucursal">{{ object.domicilio }}<br>{{ object.telefono }}</p>
            </div>   
            <div class="cta-section">        
                <a class="cta-button" href="{% url 'listar_sucursales' %}">Volver a la lista...</a>
            </div>     
        </section> 
        {% else %}
         <div>
            <h3>No tienes permisos para acceder a esta página</h3>
            <!-- <img class="access-denied-img" src="{% static './assets/img/access-denied.jpg' %}" alt="access denied"> -->
             </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div>
            <h3>No tienes permisos para acceder a esta página</h3>
            <!-- <img class="access-denied-img" src="{% static './assets/img/access-denied.jpg' %}" alt="access denied"> -->
           </div> 
      {% endif %}  
    </main>
{% endblock %}