{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/listaSuc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        <div class="row">
            <table>
                <!-- <th style="display: none;">ID</th> -->
                <th>Nombre</th>
                <th>Domicilio</th>
                <th>Telefono</th>
                <th colspan="3">Acciones</th>
                {% for sucursal in object_list %}
                <tr>
                    <!-- <td  style="display: none;">{{ sucursal.id }}</td> -->
                    <td>{{ sucursal.nombre }}</td>                    
                    <td>{{ sucursal.domicilio }}</td>
                    <td>{{ sucursal.telefono }}</td>
                    <td><a class="cta-button" href="{% url 'detalle_sucursal' sucursal.id %}">Ver</a></td>
                    <td><a class="cta-button" href="{% url 'actualizar_sucursal' sucursal.id %}">Editar</a></td>
                    <td><a class="cta-button" href="{% url 'borrar_sucursal' sucursal.id %}">Borrar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <a href="{% url 'agregar_sucursal' %}"><button>Agregar</button></a>
    </main>
{% endblock %}