{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static './assets/css/listaSuc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        {% if request.user.groups.all %}
        {% for group in request.user.groups.all %}
         {% if group.name == 'Encargado' or group.name == 'SiteAdmin' %}
        <div class="grid">
            <table class="lista">
                <!-- <th style="display: none;">ID</th> -->
                <th class="header-lista">Nombre</th>
                <th class="header-lista">Domicilio</th>
                <th class="header-lista">Telefono</th>
                <th class="header-lista">Activa</th>
                <th class="header-lista" colspan="3">Acciones</th>
                {% for sucursal in object_list %}
                <tr>
                    <!-- <td  style="display: none;">{{ sucursal.id }}</td> -->
                    <td class="celda-lista">{{ sucursal.nombre }}</td>                    
                    <td class="celda-lista">{{ sucursal.domicilio }}</td>
                    <td class="celda-lista">{{ sucursal.telefono }}</td>
                    <td class="celda-lista">{{ sucursal.isActive }}</td>
                    <td class="celda-lista"><a class="cta-button" href="{% url 'detalle_sucursal' sucursal.id %}">Ver</a></td>
                    <td class="celda-lista"><a class="cta-button" href="{% url 'actualizar_sucursal' sucursal.id %}">Editar</a></td>
                    <td class="celda-lista"><a class="cta-button" href="{% url 'borrar_sucursal' sucursal.id %}">Borrar</a></td>
                </tr>
                {% endfor %}
            </table>
            <a  class="cta-button" id="cta-admin-sucursales" href="{% url 'agregar_sucursal' %}">Agregar</a>
        </div>
        {% else %}
         <div>
            <h3>No tienes permisos para acceder a esta página</h3>
            <!-- <img class="access-denied-img" src="{% static './assets/img/access-denied.jpg' %}" alt="access denied"> -->
            </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div>
            <h3>No tienes permisos para acceder a esta página</h3>
            <!-- <img class="access-denied-img" src="{% static './assets/img/access-denied.jpg' %}" alt="access denied"> -->
          </div> 
      {% endif %}          
    </main>
{% endblock %}